.verbessern-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.verbessern-container1 {
  width: 100%;
  height: 246px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.verbessern-text1 {
  width: 100%;
  margin: var(--dl-space-space-oneandhalfunits);
  padding: var(--dl-space-space-oneandhalfunits);
  min-width: var(--dl-size-size-xxlarge);
}
.verbessern-container2 {
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verbessern-textinput {
  width: 638px;
  height: 100%;
  margin-right: var(--dl-space-space-twounits);
}
.verbessern-button {
  width: 159px;
  height: 80px;
  padding: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 1600px) {
  .verbessern-text1 {
    padding: var(--dl-space-space-twounits);
  }
}
@media(max-width: 1200px) {
  .verbessern-text1 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .verbessern-container2 {
    height: 190px;
  }
  .verbessern-textinput {
    width: 482px;
    height: 56px;
    margin-right: 0px;
  }
  .verbessern-button {
    width: 139px;
    height: 56px;
    align-self: flex-end;
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
  }
}
